<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gunnarro.android.bandy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:description="@string/app_description"
        android:icon="@drawable/bandy"
        android:label="@string/app_name"
        android:logo="@drawable/bandy"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name="com.gunnarro.android.bandy.view.dashboard.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gunnarro.android.bandy.view.dashboard.MatchesActivity"
            android:label="Matches"
            android:parentActivityName="com.gunnarro.android.bandy.view.dashboard.HomeActivity" />
        <activity
            android:name="com.gunnarro.android.bandy.view.dashboard.SearchActivity"
            android:label="Search"
            android:parentActivityName="com.gunnarro.android.bandy.view.dashboard.HomeActivity" />
        <activity
            android:name="com.gunnarro.android.bandy.view.dashboard.SetupActivity"
            android:label="Setup"
            android:parentActivityName="com.gunnarro.android.bandy.view.dashboard.HomeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gunnarro.android.bandy.view.dashboard.HomeActivity" />
        </activity>
        <activity
            android:name="com.gunnarro.android.bandy.view.dashboard.TeamActivity"
            android:label="Team"
            android:parentActivityName="com.gunnarro.android.bandy.view.dashboard.HomeActivity" />
        <activity
            android:name="com.gunnarro.android.bandy.view.NotificationActivity"
            android:label="Notification" />
        <activity
            android:name="com.gunnarro.android.bandy.view.playerdetailflow.PlayerListActivity"
            android:label="Players"
            android:parentActivityName="com.gunnarro.android.bandy.view.dashboard.HomeActivity" >
        </activity>
        <activity
            android:name="com.gunnarro.android.bandy.view.masterdetailflow.PlayerDetailActivity"
            android:label="Player details"
            android:parentActivityName="com.gunnarro.android.bandy.view.playerdetailflow.PlayerListActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gunnarro.android.bandy.view.playerdetailflow.PlayerListActivity" />
        </activity>

        <service android:name="com.gunnarro.android.bandy.service.impl.DownloadService" />

        <!--
		<receiver
            android:name="com.gunnarro.android.bandy.receiver.DBDataPopulator"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.gunnarro.android.bandy.service.download.FINISHED" />
            </intent-filter>
        </receiver>
        -->

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="your tests label"
        android:targetPackage="com.gunnarro.android.bandy" />

</manifest>